* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --heading-background-color: steelblue; */
    --padding: 10px;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid darkblue;
    margin-top: 5px;
    margin-bottom: 5px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid darkblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 15px;
    left: 30px;
    color: white;
}

aside img {
    width: 280px;
    height: auto;
}

footer {
    margin: 0 auto;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}